<!doctype html>
<html>
    
    <head>
        <title>Language Experiment</title>
        <script src="/static/lib/jquery-min.js" type="text/javascript"></script>
        <script src="/static/lib/underscore-min.js" type="text/javascript"></script>
        <script src="/static/lib/backbone-min.js" type="text/javascript"></script>
        
        <script src="/static/js/jspsych/jspsych.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-text.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-single-stim.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-single-audio.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-survey-text.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-call-function.js" type="text/javascript"></script>
        
        <script type="text/javascript">
            // These fields provided by the psiTurk Server
            var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
            var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
            var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
            var length_condition_i = {{ condition }}; // 0-7
            var lang_i = {{ counterbalance }}; // 0-49
        </script>

        <script src="https://d2dg4e62b1gc8m.cloudfront.net/turk/langaq_17/frankexp1_word_segmentation_length/langs/train_lengths.js" type="text/javascript"></script>
        <script src="https://d2dg4e62b1gc8m.cloudfront.net/turk/langaq_17/frankexp1_word_segmentation_length/langs/test_files_index.js" type="text/javascript"></script>

        <!-- utils.js and psiturk.js provide the basic psiturk functionality -->
        <script src="/static/js/utils.js" type="text/javascript"></script>
        <script src="/static/js/psiturk.js" type="text/javascript"></script>

        <!-- stim seeder -->
        <script src="/static/js/stims.js" type="text/javascript"></script>
        
        <link href="/static/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    </head>
    
    <body>
        <div id='jspsych-target'></div>
    </body>
    <script>
        var stims = sample_language();
        var get_questions = function () {
            var arr = [];
            for (var i = 0; i < stims.questions.length; i++) {
              var stim = stims.questions[i];
              arr.push({
                stimulus: stim.filepath,
                data: stim
              });
            }
            return arr;
        }

        /* load psiturk */
        var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);

        /* experiment */
        var explain_training = {
            type: 'text',
            text: '<p>In this experiment, you will listen to a ‘nonsense’ language. The language contains words and sentences, but no meanings or grammar. You will be tested on how well you learn the words of the language.</p><p>The experiment will begin with a listening phase, where you will listen to about 15 minutes of the language and familiarize yourself with it. It will then end with 5 minutes of questions.</p><p>Please ensure you are in a quiet room with no distractions with the computer sound on and sufficiently high.</p><p> Press any key to continue.</p>',
            timing_post_trial: 500
        };

        var training_1 = {
            type: 'single-audio',
            prompt: '<p>Please listen to the recording until the very end. It is about 15 minutes long.</p>',
            stimulus: stims.training,
            response_ends_trial: false,
            timing_response: stims.train_length,
            timing_post_trial: 500
        };

        var explain_task = {
            type: 'text',
          text: '<p>You will now answer some brief questions about the words in the language. In each question, you will hear two recordings. Your job is to pick which recording sounds more like a word from the language.</p> <p>You will press 1 if the first word sounds more like a word from the language, and 2 if the second word sounds more like a word from the language.</p><p> Press any key to continue (there will be 36 total questions).</p>',
            timing_post_trial: 500
        };

        var trials = {
            type: 'single-audio',
            choices: ['1', '2'],
            prompt: '<p>Which recording sounds more like a word from the language? Press 1 for the first or 2 for the second.</p>',
            timeline: get_questions(),
            // randomize_order: true,
            // XXX: DON'T randomize order...order is already randomized,
            // enforcing no neighbors, from stims.js
            randomize_order: false,
            timing_post_trial: 2000
        };

        var demographics_prompt = {
            type: 'text',
            text: '<p>We\'d now like to quickly get some demographic information from you. Press any key to continue.</p>'
        };

        var demographics = {
          type: 'survey-text',
          questions: ['How old are you?', 'What is your native language?'],
          rows: [1,1],
          columns: [10,30]
        };

        var complete = {
            type: 'text',
            text: '<p>You\'ve successfully answered all the questions. Press any key to complete the experiment. Thank you!</p>'
        };

        /* timeline */
        var timeline = [];
        timeline.push(explain_training);
        timeline.push(training_1);
        timeline.push(explain_task);
        timeline.push(trials);
        timeline.push(demographics_prompt);
        timeline.push(demographics);
        timeline.push(complete);

        /* start the experiment */
        jsPsych.init({
            display_element: document.getElementById('jspsych-target'),
            timeline: timeline,
            on_finish: function() {
                psiturk.saveData({
                    success: function() { psiturk.completeHIT(); }
                });
            },
            on_data_update: function(data) {
                // For debug
                // console.log(data);
                psiturk.recordTrialData(data);
            }
        })

    </script>

</html>
